{% extends 'layouts/app.twig' %}

{% block title %}
    Contact Page
{% endblock %}

{% block content %}
    <form action="{{path_for('contact')}}" method="post">
        <label for="name">Name</label>
        <input type="text" placeholder="Name" name="name">
        <label for="email">Email</label>
        <input type="email" placeholder="Email" name="email">
        <label for="message">Message</label>
        <input type="text" placeholder="Message" name="message">
        <button type="submit">Send Message</button>
    </form>
{% endblock %}