{% extends 'layouts/main.twig' %}

{% block title %}
    Message Page
{% endblock %}

{% block content %}
<div class="card column is-half is-offset-one-quarter">
    <header class="card-header">
        <p class="card-header-title">
        Message Form
        </p>
    </header>
    <div class="card-content">
        <p>Thank you for contacting us!</p>
    </div>
    <footer class="card-footer">
        <p class="card-footer-item">
            <span>
                <button class="button is-primary">Go Back</button>
            </span>
        </p>
    </footer>
</div>
{% endblock %}