{% extends 'layouts/app.twig' %}

{% block title %}
    User Profile Page
{% endblock %}

{% block content %}
    {% if not user %}
        <p>No user found.</p>
    {% else %}
        <h1>{{ user.username }}</h1>
        <ul>
            <li>{{ user.email }}</li>
            <li>{{ user.name }}</li>
        </ul>
    {% endif %}
{% endblock %}