{% extends 'layouts/app.twig' %}

{% block title %}
    Topics Page
{% endblock %}

{% block content %}
    {% for topic in topics %}

        <div class="topic">
            <h3><a href="{{ path_for('subjects.show', {id: topic.id}) }}"> {{ topic.getTitle() }}</a></h3>
            <p>{{ topic.body }}</p>
        </div>

    {% endfor %}
{% endblock %}